/proxyplugin
/sessions
plugins/10001_proxy.zip
plugins
./bin
./obj
obj
C:/Users/ubt/AppData/Local/Google/Chrome/User Data/Profile 3/
bin/Debug/net6.0/YoutubeStreamBot.pdb
obj/Debug/net6.0/YoutubeStreamBot.dll
